<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- [START standard_mappings] -->
    <servlet>
      <servlet-name>Home</servlet-name>
      <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>BudgetGroup</servlet-name>
      <servlet-class>servlets.BudgetGroupServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>Expense</servlet-name>
      <servlet-class>servlets.ExpenseServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>Receipt</servlet-name>
      <servlet-class>servlets.ReceiptServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>ExistingExpense</servlet-name>
      <servlet-class>servlets.ExistingExpenseServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>History</servlet-name>
      <servlet-class>servlets.HistoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>Home</servlet-name>
      <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>BudgetGroup</servlet-name>
      <url-pattern>/group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Expense</servlet-name>
      <url-pattern>/expense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Receipt</servlet-name>
      <url-pattern>/receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ExistingExpense</servlet-name>
      <url-pattern>/receipt/existing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>History</servlet-name>
      <url-pattern>/history</url-pattern>
    </servlet-mapping>
<!-- [END standard_mappings] -->

<!-- [START Objectify] -->
    <filter>
      <filter-name>ObjectifyFilter</filter-name>
      <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>ObjectifyFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
      <listener-class>servlets.OfyHelper</listener-class>
    </listener>
<!-- [END Objectify] -->
</web-app>
